<p id="notice"><%= notice %></p>

<div class='path'>
  <%= link_to 'Main', main_path %> /
  <%= link_to @service.name, '' %>
</div>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @service.title %>
</p>

<p>
  <strong>Description:</strong>
  <%=raw @service.description %>
</p>

<p>
  <strong>Picture url:</strong>
  <%= @service.picture_url %>
</p>

<div id='type_of_product'>
  <h1><%= t '.type_of_product' %></h1>
  <% TypeOfProduct.all.each do |type_of_product| %>
    <%= link_to type_of_product.name, [@service, type_of_product] %>
  <% end %>
</div>

<% if current_user %>
  <% if current_user.manager? or current_user.admin? %>
    <%= link_to 'New type of product', new_service_type_of_product_path(@service) %>
    <%= link_to 'Edit', edit_service_path(@service) %> |
    <%= link_to 'Back', services_path %>
  <% end %>
<% end %>