<p id="notice"><%= notice %></p>

<div class='path'>
  <%= link_to @debtor.title, '' %>
</div>

<h2>
  <%= @debtor.title %>
</h2>

<%=raw @debtor.content %>

<% if current_user.manager? or current_user.admin? %>
  <%= link_to 'Редактировать', edit_debtor_path(@debtor) %>
<% end %>