<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @type_of_product.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @type_of_product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%=raw @type_of_product.description %>
</p>

<p>
  <strong>Picture url:</strong>
  <%= @type_of_product.picture_url %>
</p>

<div id='product'>
  <h1><%= t '.product' %></h1>
  <% Product.all.each do |product| %>
    <%= link_to product.name, [@service, @type_of_product, product] %>
  <% end %>
  <%= link_to 'New product', new_service_type_of_product_product_path(@service, @type_of_product) %>
</div>

<% if current_user %>
  <% if current_user.manager? or current_user.admin? %>
    <%= link_to 'Edit', edit_service_type_of_product_path(@service, @type_of_product) %> |
    <%= link_to 'Back', service_type_of_products_path(@service) %>
  <% end %>
<% end %>
