<p id="notice"><%= notice %></p>

<div class='path'>
  <%= link_to 'Main', main_path %> /
  <%= link_to @service.name, @service %> /
  <%= link_to @type_of_product.name, '' %>
</div>

<%=raw @type_of_product.description %>

<div id='product'>
  <% cache @products do %>
    <%= render @products  %>
  <% end %>
</div>

<% if current_user %>
  <% if current_user.manager? or current_user.admin? %>
    <%= link_to 'New product', new_service_type_of_product_product_path(@service, @type_of_product) %>
    <%= link_to 'Edit', edit_service_type_of_product_path(@service, @type_of_product) %> |
    <%= link_to 'Back', service_type_of_products_path(@service) %>
  <% end %>
<% end %>
