<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @type_of_product.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @type_of_product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @type_of_product.description %>
</p>

<p>
  <strong>Picture url:</strong>
  <%= @type_of_product.picture_url %>
</p>

<%= link_to 'Edit', edit_type_of_product_path(@type_of_product) %> |
<%= link_to 'Back', type_of_products_path %>
