<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Picture url:</strong>
  <%= @product.picture_url %>
</p>

<%= link_to 'Edit', edit_service_type_of_product_product_path(Service.first, TypeOfProduct.first, @product) %> |
<%= link_to 'Back', service_type_of_product_products_path(Service.first, TypeOfProduct.first) %>
