<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%=raw @product.description %>
</p>

<p>
  <strong>Picture url:</strong>
  <%= @product.picture_url %>
</p>

<% if current_user %>
  <% if current_user.manager? or current_user.admin? %>
    <%= link_to 'Edit', edit_service_type_of_product_product_path(@service, @type_of_product, @product) %> |
    <%= link_to 'Back', service_type_of_product_products_path(@service, @type_of_product) %>
  <% end %>
<% end %>
