<!DOCTYPE html>
<html>
<head>
  <title>Stroitel PPU</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller.controller_name %>">
  <div id="banner">
    <% image_tag("logo.png") %>
    <%= @page_title || t('.title') %>
  </div>
  <div id="columns">
    <div id="side"> 
      <ul>
        <li><%= link_to_unless_current t('.main_page'),  main_path %></li>
        <li><%= link_to_unless_current t('.contacts_page'),  contacts_path %></li>
        <li><%= link_to_unless_current t('.about_page'),  about_path %></li>
      </ul>
    </div>
    <div id="main"> 
    
      <%= yield %>
    
    </div>
    <div id="footer">
      <%= t '.Ñopyright' %>
    </div>
  </div>
</body>
</html>

