<!DOCTYPE html>
<html>
<head>
  <title><%= @head_title || t('.title') %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= tag 'meta', name: 'robots', content: 'all' %>
  <%= tag 'meta', name: 'yandex', content: 'all' %>
  <%= tag 'meta', name: 'Keywords',    content: (@meta_keywords    || 'Трубы') %>
  <%= tag 'meta', name: 'Description', content: (@meta_description || 'Трубы') %>
</head>
<body id="<%= controller.controller_name %>">
  <div id="banner">
    <% image_tag("logo.png") %>
    <%= t('.title') %>
    <div id="login">
      <% if current_user %>
        You may <%= link_to t('sign_out'), logout_url, method: :delete %> here.<br/>
        <%= "Hello #{current_user.name}" %>
      <% end %>
    </div>
  </div>
  <div id="columns">
    <div id="side"> 
      <ul>
        <li><%= link_to_unless_current t('.main_page'),              main_path %></li>
        <li><%= link_to_unless_current t('.contacts_page'),      contacts_path %></li>
        <li><%= link_to_unless_current t('.production_page'),  production_path %></li>
        <li><%= link_to_unless_current t('.about_page'),            about_path %></li>
        <li><%= link_to_unless_current t('.new_order'),         new_order_path %></li>
        <% if current_user %>
          <% if current_user.admin? %>
            <li><%= link_to_unless_current t('.users_page'),  users_path %></li>
          <% end %>
          <% if current_user.manager? or current_user.admin? %>
            <li><%= link_to_unless_current t('.orders'),  orders_path %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div id="main"> 
    
      <%= yield %>
    
    </div>
    <div id="footer">
      <%= t '.сopyright' %>
    </div>
  </div>
</body>
</html>

